@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #000;
  letter-spacing: 0em;
  line-height: 1.5em;
  font-size: 15px;
  min-width: 320px;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div,
p,
form,
input,
a,
span,
button,
textarea {
  text-decoration: none;
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: block;
}

img {
  vertical-align: top;
  max-width: 100%;
}

p {
  line-height: 1.5em;
  font-weight: 300;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "GothamPro-Bold";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'GothamPro', sans-serif;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.aside-block {
  position: relative;
  padding: 35px 14px;
}

.aside-block a {
  display: block;
  text-align: center;
}

.aside-block i {
  font-size: 15px;
}

.aside-block span {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.aside-block .aside-block__logo {
  margin-top: 35px;
}

.aside-block .aside-block__info {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  left: 0;
}

.aside-block .aside-block__info ul li a {
  margin-top: 25px;
}

.aside-block .aside-block__info li {
  position: relative;
}

.aside-block .aside-block__info span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: red;
  top: -7px;
  right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.aside-block .aside-block__contacts {
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
  color: #5E6062;
}

.aside-block .aside-block__contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-block .aside-block__contacts a {
  margin-top: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EBEBEB;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.aside-block .aside-block__contacts a:hover {
  background: #00C1CA;
  color: #fff;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.aside-block .aside-block__contacts li:first-child a {
  margin-top: 0;
}

.mainContent {
  position: relative;
  width: 100%;
  background: url(../img/overlay.png) no-repeat center top;
  background-size: 100%;
  -webkit-box-shadow: 0 0 33px 18px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 0 0 33px 18px rgba(0, 0, 0, 0.7) inset;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.hat-desktop {
  color: #fff;
  padding: 35px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hat-desktop__callback {
  background: #00C1CA;
  border-radius: 15px;
  font-size: 8px;
  text-transform: uppercase;
  padding: 0px 13px;
  margin-left: 25px;
}

.mainContent-points {
  position: relative;
}

.mainContent-points__item {
  position: relative;
  display: block;
  background: #D8D8D8;
  border-radius: 3px;
  width: 100px;
  padding: 9px;
  padding-bottom: 0;
  font-size: 11px;
  text-align: center;
}

.mainContent-points__item.active {
  background: #00C1CA;
}

.mainContent-points__item.active::before {
  border-color: #00C1CA transparent transparent transparent;
}

.mainContent-points__item.active h4 {
  color: #fff;
}

.mainContent-points__item::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 50px 0 50px;
  border-color: #D8D8D8 transparent transparent transparent;
}

.mainContent-points__item h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}

.mainContent-points__item p {
  font-weight: 700;
  font-size: 10px;
  color: #555555;
}

.home-0 {
  position: absolute;
  left: 64%;
  top: 330px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-1 {
  position: absolute;
  left: 51%;
  top: 270px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-2 {
  position: absolute;
  left: 38%;
  top: 190px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-3 {
  position: absolute;
  left: 27%;
  top: 120px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-4 {
  position: absolute;
  left: 58%;
  top: 430px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-5 {
  position: absolute;
  left: 40%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-6 {
  position: absolute;
  top: 120px;
  left: 47%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-7 {
  position: absolute;
  top: 160px;
  left: 60%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.home-8 {
  position: absolute;
  top: 140px;
  left: 72%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.mainContent-caption {
  padding: 0px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 73%;
  color: #fff;
}

.mainContent-caption h2 {
  width: 310px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mainContent-caption .mainContent-caption__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContent-caption p {
  font-size: 13px;
  border-bottom: 1px solid #fff;
}

.mainContent-caption .point {
  margin-right: 10px;
  display: inline-block;
  background: #00C1CA;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.mainContent-caption__chose {
  display: block;
  padding: 25px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #00C1CA;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
}

.mainContent-caption__chose i {
  font-size: 14px;
}

.mainContent-caption__chose span {
  line-height: 1.25em;
  display: block;
}

.footer-desktop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #C3C4C6;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px 50px;
  padding-bottom: 30px;
}

.footer-desktop .callback {
  color: red;
}

.footer-desktop a {
  margin-left: 40px;
}

.footer-desktop > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-desktop .logo {
  line-height: 1em;
}

.footer-desktop-lang a {
  margin-left: 10px;
}

.footer-desktop-lang a.active {
  color: #fff;
}

.footer-desktop-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-desktop-volume p {
  padding-left: 6px;
}