@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'zerostyle.scss';
@import 'fonts.scss';

body {
    font-family: 'GothamPro', sans-serif;
    font-size: 17px;
    display: flex;
    font-weight: 400;
}

main {
    display: flex;
    width: 100%;
}

@import 'aside.scss';

@import 'mainContent.scss';

@import 'media.scss';