<aside class="aside-block">
    <div>
        <div class="aside-block__menu">
            <a href="#">
                <i class="fas fa-bars"></i>
                <span>меню</span>
            </a>

        </div>
        <div class="aside-block__logo">
            <img src="img/logo.png" alt="logo">
        </div>
    </div>
    <div class="aside-block__info">
        <ul>
            <li>
                <a href="#"><img src="img/sale_icon.png" alt="sale_ico"></a>
                <span>3</span>
            </li>
            <li>
                <a href="#"><img src="img/camera_icon.png" alt="camera_ico"></a>
                <span>2</span>
            </li>
            <li>
                <a href="#"><img src="img/favorite_icon.png" alt="favorite_ico"></a>
                <span>1</span>
            </li>
        </ul>
    </div>
    <div class="aside-block__contacts">
        <ul>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>

</aside>