<div class="mainContent">
    <div class="hat-desktop">
        <a href="tel:0444944844">(044) 494 48 44</a>
        <a href="#" class="hat-desktop__callback">заказать звонок</a>
    </div>
    <div class="mainContent-points">
        <div class="mainContent-points__item home-5 home-d">
            <h4>
                Очередь 5
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-5 home-m">
            <h4>5</h4>
        </div>

        <div class="mainContent-points__item home-6  home-d">
            <h4>
                Очередь 6
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-6 home-m">
            <h4>6</h4>
        </div>
        <div class="mainContent-points__item home-7  home-d">
            <h4>
                Очередь 7
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-7 home-m">
            <h4>7</h4>
        </div>
        <div class="mainContent-points__item home-8  home-d">
            <h4>
                Очередь 8
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-8 home-m">
            <h4>8</h4>
        </div>
        <div class="mainContent-points__item home-3  home-d">
            <h4>
                Очередь 3
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-3 home-m">
            <h4>3</h4>
        </div>
        <div class="mainContent-points__item home-2  home-d">
            <h4>
                Очередь 2
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-2 home-m">
            <h4>2</h4>
        </div>
        <div class="mainContent-points__item home-1  home-d active">
            <h4>
                Очередь 1
            </h4>
            <p>
                III кв. 2018 г.
            </p>
        </div>
        <div class="mainContent-points__item  home-d home-4">
            <h4>
                Очередь 4
            </h4>
            <p>
                II кв. 2019 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-4 home-m">
            <h4>4</h4>
        </div>
        <div class="mainContent-points__item  home-d home-0">
            <h4>
                Детсад
            </h4>
            <p>
                III кв. 2018 г.
            </p>
        </div>
        <div class="mainContent-points__item home-m-0 home-m">
            <h4>Д</h4>
        </div>
    </div>
    <div class="mainContent-caption">
        <div>
            <h2>
                Киево-Святошинский район,
                Крюковщина, ул. Богуславская, 1-6
            </h2>
            <a class="mainContent-caption__map" href="#">
                <div class="point">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <p>
                    Cмотреть на карте
                </p>
            </a>
        </div>
        <a href="#" class="mainContent-caption__chose">
            <i class="fas fa-key"></i>
            <span>
                Выбор квартир
            </span>
        </a>
    </div>
    <footer class="footer-desktop footer-mobile">
        <div>
            <p>2017 &copy; blagorod.ua</p>
            <a href="#" download="#">документы</a>
            <a href="#" сlass="callback">
                <i class="fas fa-envelope"></i>
                задать вопрос
            </a>
        </div>
        <div class="footer-desktop__caption">
            <div class="footer-desktop-lang">
                <a href="#" class="active">RU</a>
                <a href="#">UA</a>
            </div>
            <a href="#" class="footer-desktop-volume" onclick="event.preventDefault()">
                <i class="fas fa-volume-up"></i>
                <p>ВКЛ</p>
            </a>
            <a href="#" class="logo">
                <img src="img/imq-logo.png" alt="author-logo">
            </a>
        </div>
    </footer>
</div>